<div class="row">

    <div ng-repeat="photo in ::$ctrl.product.photos">
        <img ng-src="{{ $ctrl.getImageAbsolutePath(photo) }}">
    </div>

    <div>
        <div>{{ ::$ctrl.product.name }}</div>
        <div ng-bind-html="$ctrl.validateHtml($ctrl.product.description)"></div>
        <div>Categoría: {{ ::$ctrl.product.category.name }}</div>
        <div>Vendedor: {{ ::$ctrl.product.seller.nick }}</div>
        <div class="avatar">
            <img ng-src="{{ $ctrl.getImageAbsolutePath($ctrl.product.seller.avatar) }}">
        </div>
        <div>Precio {{ ::$ctrl.product.price | currency }}</div>
        <div>Fecha de publicación: {{ $ctrl.product.published_date | date: "dd/MM/yyyy" }}</div>
        <div>Estado: {{ ::$ctrl.product.state }}</div>
        <div><input type="checkbox"
                    ng-model="$ctrl.product.favorite"
                    ng-change="$ctrl.saveFavorite($ctrl.product.favorite)"
                    ng-true-value="1" ng-false-value="0">Favorito</div>
    </div>
</div>