<div class="row">
    <div class="u-full-width">
        <product-selector on-filter-change="$ctrl.updateFilter(filter)"></product-selector>
        <div class="product-list" ng-repeat="product in $ctrl.products | filter: { name: $ctrl.ProductsFilter.name }
        | filter:{ category: { name: $ctrl.ProductsFilter.category} }">
            <img ng-src="{{ $ctrl.getImageAbsolutePath(product.photos[0]) }}">
            <label>{{ ::product.name }}</label>
            <a ng-link="['OneProduct', { id: product.id }]">Ver detalle</a>
        </div>
    </div>
</div>