body {
    background-color: gainsboro;
}

header a {
    text-decoration: none;
    font-family: "Comic Sans MS";
    color: green;
    width: 100%;
    z-index: 10;
}

.product-list {
    display: inline-block;
    margin: 15px;
}

.product-list img {
    display: block;
    vertical-align: top;
    width:  225px;
    height: 275px;
}

.avatar img {
    width:  55px;
    height: 55px;
}
